.hero {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: var(--gutter);
  padding-block: var(--space-4xl);
  --maxw-content: 69rem;
}

.content {
  flex: 1;
}

.eyebrow {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
  margin-right: -6.5rem;
  font-size: var(--fs-label);
  letter-spacing: var(--ls-eyebrow);
  text-transform: uppercase;
  color: var(--color-accent);

  &::before {
    content: "";
    width: 2.5rem;
    height: var(--border-width);
    background: var(--color-accent);
  }
}

.title {
  font-size: var(--fs-hero);
  line-height: var(--lh-solid);
  color: var(--color-white);
  margin-bottom: var(--space-xs);
}

.title span {
  color: var(--color-accent);
}

.desc {
  max-width: 35rem;
  margin-bottom: var(--space-2xl);
  font-size: var(--fs-h3);
  line-height: var(--lh-relaxed);
  color: var(--color-text-muted);
  text-wrap: balance;
}

.ctas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.visual {
  flex-shrink: 0;
}

@media (--mq-until-lg) {
  .desc {
    font-size: var(--fs-body);
  }
}

@media (--mq-until-sm) {
  .hero {
    display: block;
    padding-top: var(--space-md);
  }

  .visual {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: var(--space-xl);
  }

  .eyebrow {
    margin-right: 0;
  }
}
