.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-lg);
  margin-block: var(--space-4xl);
}

@media (--mq-until-lg) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.contactCard {
  margin-block: var(--space-4xl);
}
