.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-lg);
  max-width: var(--maxw);
  margin: 0 auto;
  padding: var(--space-3xl) var(--gutter);
}

@media (--mq-grid) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.contactCard {
  margin-block: var(--space-4xl);
}
