.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

.more {
  display: block;
  width: max-content;
  margin: var(--space-2xl) auto 0;
}

@media (--mq-grid) {
  .grid {
    grid-template-columns: 1fr;
  }
}
