.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

@media (--mq-until-lg) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--mq-until-sm) {
  .grid {
    grid-template-columns: 1fr;
  }
}
